<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>My recipes!</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" th:href="@{webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:href="@{webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"></script>
</head>
<!--<body>-->

<!--<div class="container-fluid" style="margin-top: 20px">-->
    <!--<div class="row">-->
        <!--<div class="col-md-6 col-md-offset-3">-->
            <!--<div class="panel panel-primary">-->

                <!--<div class="panel-heading">-->
                    <!--<h1 class="panel-title" align="center">My Recipes!</h1>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                    <!--<div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">-->
                        <!--<table class="table table-hover ">-->
                            <!--<thead class="thead-inverse">-->
                            <!--<tr>-->
                                <!--<th>ID</th>-->
                                <!--<th>Description</th>-->
                                <!--<th>View</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tr th:remove="all">-->
                                <!--<td>123</td>-->
                                <!--<td>Tasty Goodnees 1</td>-->
                                <!--<td><a href="#">View</a></td>-->
                            <!--</tr>-->
                            <!--<tr th:remove="all">-->
                                <!--<td>12333</td>-->
                                <!--<td>Tasty Goodnees 2</td>-->
                                <!--<td><a href="#">View</a></td>-->
                            <!--</tr>-->
                            <!--<tr th:each="recipe : ${recipes}">-->
                                <!--&lt;!&ndash;/*@thymesVar id="recipe" type="mg.springframework.model.Recipe"*/&ndash;&gt;-->
                                <!--<td th:text="${recipe.id}">334</td>-->
                                <!--<td th:text="${recipe.description}">Tasty Goodnees 3</td>-->
                                <!--<td><a href="#" th:href="@{'/recipe/show/' + ${recipe.id}}">View</a></td>-->
                            <!--</tr>-->
                        <!--</table>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--</body>-->

<body>
<!--/*@thymesVar id="recipes" type="java.util.List"*/-->
<!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">My Recipes!</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>123</td>
                                <td>Tasty Goodnees 1</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>12333</td>
                                <td>Tasty Goodnees 2</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            <tr th:each="recipe : ${recipes}">
                                <td th:text="${recipe.id}">334</td>
                                <td th:text="${recipe.description}">Tasty Goodnees 3</td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/show'}">View</a></td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/update'}">Update</a></td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/delete'}">Delete</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>